@import "./_base.css";

html.theme-angsty-robot {
    --pv-theme-is-dark: 1;

    --pv-bg-app: #0b0f14;
    --pv-bg-header: #020617;
    --pv-bg-surface: #020617;
    --pv-bg-surface-muted: #111827;

    --pv-border: #1f2937;

    --pv-text-secondary: #9ca3af;
    --pv-text-link: #22d3ee;

    --pv-bg-primary: #22d3ee;
    --pv-text-primary-on: #020617;
}
